.header {
    background-color: var(--white);
    padding: 16px 0;
}

.header__inner {
    position: relative;
}

.header__title {
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 16px;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}

.header__burger-menu-open {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header_for-inner-page {
    background: var(--grey-5);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 24px 0;
    }

    .header__logo {
        text-align: left;
    }

    .header__title {
        padding-top: 40px;
        padding-bottom: 16px;
        font-weight: 500;
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
    }

    .header_for-inner-page {
        text-align: left;
    }

    .header__burger-menu-open {
        display: none;
    }
}