.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 231px; /* фикс высота, чтобы карточки были одинакового размера в каждой строке */
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.card__preview-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__meta-info {
    padding: 13px 8px 8px 8px;
    border-top: 1px solid var(--grey-2);
    text-align: center;
}

.card__title {
    margin: 0;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.card__component-type {
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey-3);
}

@media screen and (min-width: 768px) {

    .card {
        height: 367px;
    }

    .card__preview-area {

    }

    .card__meta-info {
        padding: 25px 15px 30px 15px;
        border-top: 0;
    }

    .card__title {
        font-family: var(--main-font-family);
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
    }

    .card__component-type {
        font-family: var(--main-font-family);
        font-size: 16px;
        line-height: 19px;
        color: var(--grey-4);
        margin-top: 6px;
    }
}