/* Стилизация аккордеона */
.accordion {

}

.accordion__item {
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 32px 32px 32px;

    /* Positioning arrow inside of the accordion item */
    background: var(--white) url("arrow-down.png") no-repeat;
    background-position: top right;
    background-origin: content-box;
    background-size: 16px 8px;
}

/* Change the arrow direction when user open the accordion item */
.accordion__item[open] {
    background: var(--white) url("arrow-up.png") no-repeat;
    background-position: top right;
    background-origin: content-box;
    background-size: 16px 8px;
}

.accordion__item:last-child {
    margin-bottom: 0px;
}

.accordion__title {
    display: block;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    outline:none; /* remove outline when the element in focus in Safari browser */
}

.accordion__title::-webkit-details-marker {
    display: none;
}

.accordion__content {
    margin: 16px 0px 0px 0px;
    padding: 0px 16px 0px 0px;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}