.modal {
    display: none;
}

.modal__blur {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: var(--grey-6);
}

.modal__window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: var(--white);
    border-radius: 8px;
    padding: 15px 15px 30px 40px;
    text-align: right;
}

.modal__title {
    margin: 5px 25px 0 0;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-blue);
    text-align: left;
}

.modal__content {
    margin: 14px 25px 0 0;
    font-family: var(--second-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    text-align: left;
}

.modal__close {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}