@import '../fonts/fonts.css';
@import "normalize.css";

@import "../../components/card/card.css";
@import "../../components/footer/footer.css";
@import "../../components/header/header.css";
@import "../../components/tabs/tabs.css";
@import "../../components/inner-main-block/inner-main-block.css";
@import "../../components/menu/menu.css";
@import "../../components/page/page.css";
@import "../../components/preview/preview.css";
@import "../../components/preview-area/preview-area.css";
@import "../../05-lection3/01-tooltip/tooltip.css";
@import "../../07-lection5/01-checkbox/checkbox.css";
@import "../../07-lection5/02-radio/radio.css";
@import "../../07-lection5/03-toggler/toggler.css";
@import "../../05-lection3/03-calendar/calendar.css";
@import "../../05-lection3/02-modal/modal.css";
@import "../../03-lection1/01-button/button.css";
@import "../../04-lection2/01-histogram/histogram.css";
@import "../../06-lection4/01-avatar/avatar.css";


:root {
    --white: #ffffff;
    --black: #212429;
    --full-black: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --red-2: #D84910;
    --dark-blue: #334D6E;
    --light-blue: #90A0B7;
    --extra-light-blue: #A0B1F5;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #C4C4C4;
    --grey-6-with-opacity: rgba(196, 196, 196, 0.5);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --primary-button-color: #4263EB;
    --primary-button-hover-color: #2342C0;
    --secondary-button-color: #7048E8;
    --secondary-button-hover-color: #5028C6;
    --alternate-button-color: var(--white);
    --alternate-button-hover-color: var(--white);

    --main-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Inter', sans-serif;
    --source-font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

/* Класс используется только для body - блокирует отработку анимаций до момента, пока не будет снят с помощью JS
 Это позволяет избавиться от автоматического срабатывания анимаций при загрузке страницы */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
