.preview {
    background-color: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview__cards-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
}

@media screen and (min-width: 600px) {
    .preview__cards-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
   .preview__cards-list {
       grid-template-columns: 1fr 1fr 1fr;
       gap: 30px;
       padding-top: 68px;
       padding-bottom: 68px;
   }
}

